<header>
  <img
    src="assets/img/iago.png"
    alt="Iago Macêdo - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Iago Macêdo</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack  | Angular | React | NestJs | Delphi | Laravel</p>
    <p>Feira de Santana, Bahia, Brasil</p>
    <p>
      Cursando sistemas de informação da Unex e atuo a 1 ano e 6 meses na área de desenvolvimento web.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/iagomacedo/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=75992177113&text=Ol%C3%A1%20Iago,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (75) 99217-7113</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:iagomacedo159@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>iagomacedo159&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
